version: 1.0.{build}
image: Visual Studio 2017
build_script:
- ps: >-
    echo (Get-Item -Path ".\").FullName

    Import-Module .\tools\MSBLOC.Posh\MSBuildLogOctokitChecker.psm1

    msbuild TestConsoleApp1.sln --% /bl:output.binlog /flp:logfile=output.log;verbosity=diagnostic
    
    if (! $?) {
      echo "Build Error"
      Push-AppveyorArtifact output.log -Type log
      Push-AppveyorArtifact output.binlog -Type log
      Send-MsbuildLogAppveyor output.binlog
      exit -1
    }

    $binLogPath = (Get-Item -Path ".\").FullName + "\output.binlog"
    
    Send-MsbuildLogAppveyor $binLogPath
artifacts:
- path: output.log
  name: log
- path: output.binlog
  name: log