version: 1.0.{build}
image: Visual Studio 2017
build_script:
- ps: >-
    echo %CD%
    
    Import-Module .\tools\MSBLOC.Posh\MSBuildLogOctokitChecker.psm1

    msbuild TestConsoleApp1.sln --% /bl:output.binlog /flp:logfile=output.log;verbosity=diagnostic
    
    if (! $?) {
      echo "Build Error"
      Push-AppveyorArtifact output.log -Type log
      Push-AppveyorArtifact output.binlog -Type log
      Send-MsbuildLogAppveyor output.binlog
      exit -1
    }

    Send-MsbuildLogAppveyor ./output.binlog
artifacts:
- path: output.log
  name: log
- path: output.binlog
  name: log